<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>this is Register page</h1>
    <h2>Registration</h2>
    <form action="/register" method="post">
        Name :- <input type="text" name="name"><br><br><br>
        E-mail :- <input type="email" name="mail"><br><br><br>
        Password :- <input type="password" name="pass"><br><br>
        <input type="submit" value="Register">

    </form>

Back to Home: -<a href="/">Click  here</a>

</body>
</html>